$primary: #f0f2f5;
$secondary: #fff;

$border-color: #D9D9D9;
$box-shadow-color: rgba(0,0,0, 0.3);

$text-field-plaholder-color: #9A9A9A;
$text-textarea-placeholder-color: #50656E;

$text-color: #4F4F4D;
$title-color: #464646;

